{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link rel="shortcut icon" href="img/fav.png"> -->
	<meta name="author" content="CodePixar">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<title>
        {% block title %}
        {% endblock %}
    </title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'temp/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'temp/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'temp/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'temp/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'temp/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'temp/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'temp/css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'temp/css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'temp/css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'temp/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'temp/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'home' %}"><img width="200px" src="{% static 'logo.jpg' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
							<!-- <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
									<li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
									<li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
								</ul>
							</li> -->
							{% if user.is_admin %}
							<li class="nav-item"><a class="nav-link" href="/admint/dashboard">Admin</a></li>
							{% endif %}
							<li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
							<!-- <li class="nav-item"><a class="nav-link" href="{% url 'cart' %}">Cart</a></li> -->
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
								</ul>
							</li>
							<!-- <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
									<li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
									<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
								</ul>
							</li> -->
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
							<li class="nav-item submenu dropdown">
								{% if user.is_authenticated %}

								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Hi, {{ request.user.first_name}}</a>
								<ul class="dropdown-menu">
									<form action="/logout/" method="post">
										{% csrf_token %}
									<li class="nav-item"><button style="border:none ; width: 200px;" class="nav-link circle" type="submit">logout</button></li>
									
									<li class="nav-item"><a class="nav-link text-center" href="{% url 'useraccount' %}">Account</a></li>
								</ul>
							</li>
							{% else %}
							<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
							{% endif %}
						</ul>
						<ul class="nav navbar-nav navbar-right cart-main-ul">
							<div class="row cart-main-div">
								<a href="{% url 'cart' %}" class="cart position-relative"><span class="ti-bag text-dark"></span>
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">9 </span></a>
							</div>

						</ul>
					</div>
				</div>
			</nav>
		</div>
		<!-- <div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div> -->
	</header>
	<section class="banner-area organic-breadcrumb mb-5">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Account </h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">{% block usertitle %} {% endblock %}</a>
						<!-- <a href="category.html">Fashon Category</a> -->
					</nav>
				</div>
			</div>
		</div>
	</section>
	
	<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
		<!-- <a href="https://getbootstrap.com/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
		  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
		  <span class="fs-4">Hi, {{request.user.first_name}}</span>
		</a> -->
		<a href="#">
			<img class="img-xs rounded-circle " width="30px" src="{% static 'admin/images/jithin.jpg' %}" alt="">
			<span class="text-dark" style="font-size:larger ; font-weight:500 ; margin-left: 5px;">Hi, {{request.user.first_name}}</span>
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="{% url 'useraccount' %}" class="nav-link {% block dashboardactive %} {% endblock %}" aria-current="page">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#home"></use>
					</svg>
					Dashboard
				</a>
			</li>
			<!-- <li>
				<a href="https://getbootstrap.com/docs/5.0/examples/sidebars/#" class="nav-link link-dark">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#speedometer2"></use>
					</svg>
					Dashboard
				</a>
			</li> -->
			<li>
				<a href="{% url 'userorderhistory' %}" class="nav-link {% block orderactive %} {% endblock %}">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#table"></use>
					</svg>
					Orders
				</a>
			</li>
			<!-- <li>
				<a href="https://getbootstrap.com/docs/5.0/examples/sidebars/#" class="nav-link link-dark">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#grid"></use>
					</svg>
					Products
				</a>
			</li> -->
			<!-- <li>
				<a href="https://getbootstrap.com/docs/5.0/examples/sidebars/#" class="nav-link link-dark">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#people-circle"></use>
					</svg>
					Customers
				</a>
			</li> -->
		</ul>
		<hr>
	</div>
{% block testing %}
{% endblock %}

	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row d-flex justify-content-between">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Tuff Games is the world's largest lifestyle brand for gamers.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<!-- <div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="img/i1.jpg" alt=""></li>
							<li><img src="img/i2.jpg" alt=""></li>
							<li><img src="img/i3.jpg" alt=""></li>
							<li><img src="img/i4.jpg" alt=""></li>
							<li><img src="img/i5.jpg" alt=""></li>
							<li><img src="img/i6.jpg" alt=""></li>
							<li><img src="img/i7.jpg" alt=""></li>
							<li><img src="img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div> -->
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	</p>
			</div>
		</div>
	</footer>
	{% block customscript %}
	{% endblock %}
	

	<script src="{% static 'temp/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'temp/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'temp/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'temp/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'temp/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'temp/js/nouislider.min.js' %}"></script>
	<script src="{% static 'temp/js/countdown.js' %}"></script>
	<script src="{% static 'temp/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'temp/js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'temp/js/gmaps.min.js' %}"></script>
	<script src="{% static 'temp/js/main.js' %}"></script>
</body>