{% extends 'userside/userbase.html' %}
{% load static %}

{% block title %}
{{request.user.first_name}}
{% endblock %}

{% block usertitle %} 
Dashboard
{% endblock %}

{% block dashboardactive %} 
active
{% endblock %}





{% block testing %}

<section class="banner-area organic-breadcrumb mb-5">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Add new address</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">address</a>
                    <!-- <a href="category.html">Fashon Category</a> -->
                </nav>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container col-md-7">
        <div class="card shadow my-5">
            <div class="card-body">
                <h6>Add new address</h6>
                <hr>
                <form method="POST" class="post-form" action="{% url 'checkoutaddaddr' %}">
                    {% csrf_token %}
                    <div class="row container">
    
                        {% for d in data %}
                        <div class="col-md-12">
                            <label for="">Name</label>
                            <input class="form-control" type="text" name="name" value="{{d.first_name}} {{d.last_name}}" placeholder="Enter your name">
                        </div>
                        <!-- <div class="col-md-6 mt-2">
                            <label for="">Email Address</label> -->
                            <input class="form-control" type="text" name="user_id" hidden  value="{{d.id}}">
                        <!-- </div> -->
                        <div class="col-md-6 mt-2">
                            <label for="">Email Address</label>
                            <input class="form-control" type="email" name="email" placeholder="Enter you email" value="{{d.email}}">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="">Phone Number</label>
                            <input class="form-control" type="text" name="mobile" placeholder="Enter you phone" value="{{d.mobile}}">
                        </div>
                        {% endfor %}
                        <div class="col-md-12 mt-2">
                            <label for="">Address lane 1</label>
                            <input class="form-control" type="text" name="address_1" placeholder="Address lane 1">
                        </div>
                        <div class="col-md-12 mt-2">
                            <label for="">Address Lane 2</label>
                            <input class="form-control" type="text" name="address_2" placeholder="Address lane 2">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="">City</label>
                            <input class="form-control" type="text" name="city" placeholder="Enter you city">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="">District</label>
                            <input class="form-control" type="text" name="district" placeholder="Enter you district">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="">State</label>
                            <input class="form-control" type="text" name="state" placeholder="Enter you state">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="">Pin code</label>
                            <input class="form-control" type="text" name="pincode" placeholder="Enter you Pin code">
                        </div>
                        <div>
                            <button class="btn btn-primary mt-3" type="submit">Add address and go to checkout page</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
    </div>
</section>
    {% for message in messages %}
    {{message}}
    {% endfor %}
{% endblock %}


