<div class="row d-none" id="addresschange">
    
    <div class="col-md-12">
        <label for="">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Enter your name"
            value="{{address.name}}">
    </div>

    <div class="col-md-6 mt-2">
        <label for="">Email Address</label>
        <input class="form-control" type="email" name="email" placeholder="Enter you email"
            value="{{address.email}}">
    </div>
    <div class="col-md-6 mt-2">
        <label for="">Phone Number</label>
        <input class="form-control" type="text" name="mobile" placeholder="Enter you phone"
            value="{{address.mobile}}">
    </div>
    <div class="col-md-12 mt-2">
        <label for="">Address lane 1</label>
        <input class="form-control" type="text" name="address_1"
            placeholder="Enter you Address" value="{{address.address_1}}">
    </div>
    <div class="col-md-12 mt-2">
        <label for="">Address lane 2</label>
        <input class="form-control" type="text" name="address_2"
            placeholder="Enter you Address" value="{{address.address_2}}">
    </div>
    <div class="col-md-6 mt-2">
        <label for="">City</label>
        <input class="form-control" type="text" name="city" placeholder="Enter you city"
            value="{{address.city}}">
    </div>
    <div class="col-md-6 mt-2">
        <label for="">District</label>
        <input class="form-control" type="text" name="district"
            placeholder="Enter you District" value="{{address.district}}">
    </div>
    <div class="col-md-6 mt-2">
        <label for="">State</label>
        <input class="form-control" type="text" name="state" placeholder="Enter you state"
            value="{{address.state}}">
    </div>
    <div class="col-md-6 mt-2">
        <label for="">Pin code</label>
        <input class="form-control" type="text" name="pincode"
            placeholder="Enter you Pin code" value="{{address.pincode}}">
    </div>
    
</div>