.admin-alert-messages{
    width: 300px ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-details{
    display: inline;
 position: relative;
}



.all-details:hover:after{
 background: #333;
 background: rgba(41, 55, 186, 0.8);
 border-radius: 5px;
 bottom: 26px;
 color: #fff;
 content: attr(title);
 left: 20%;
 padding: 5px 15px;
 position: absolute;
 z-index: 98;
 width: 220px;
 /* min-height: 100px;
 word-wrap: break-word;
 white-space: nowrap; */
 word-break: break-all;
}

.all-details:hover:before{
 border: solid;
 border-color: #333 transparent;
 border-width: 6px 6px 0 6px;
 bottom: 20px;
 content: "";
 left: 50%;
 position: absolute;
 z-index: 99;
}