{% extends 'adminside/adminbase.html' %}
{% load static %}

{% block title %}
product
{% endblock %}

{% block productclass %}
text-white
{% endblock %}

{% block tablecontent %}
Products
{% endblock %}

{% block maincontent %}

<div class="mb-4">
    <form action="{% url 'productlist' %}" method="get">
        <input type="text" class="form-control text-white" style="width:250px ; display: inline;"
            placeholder="search..." name="key">
        <button style="height:38px ;" class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

<a class="btn btn-primary text-white btn-lg mb-2" href="{% url 'productadd' %}" role="button">Add New Product</a>
<a class="btn btn-primary text-white btn-lg mb-2" href="{% url 'productspec' %}" role="button">Add spec</a>

{% for message in messages %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}
<table class="table table">
    <thead>
        <tr class="table-dark text-center text-danger h4">
            <td>Sl.No</td>
            <td>Title</td>
            <td>Price</td>
            <td>Subcategory</td>
            <td>Brand</td>
            <td>img</td>
            <td>action</td>
            <td>update</td>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr class="text-center align-middle text-white">
            <td>{{forloop.counter}}</td>
            <td><a style="text-decoration:none ; color: white ;" href="{{object.get_adminside_url}}">{{object.product_name}}</a></td>
            <td>₹{{object.product_max_price}}</td>
            <!-- {% if object.is_active == 1 %}
            <td>Active</td>
            {% else %}
            <td>Inactive</td>
            {% endif %} -->
            <td>{{object.subcategories_id}}</td>
            <td>{{object.brand}}</td>
            <td><img src="{{object.product_image.url}}" width="100px"></td>
            <form action="{% url 'product_delete' object.id %}" method="post">
                {% csrf_token %}
                <td>
                    <a href="" class="btn btn-danger" id="del-confirm-link" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{object.id}}">
                        Delete
                    </a>
                    <div class="modal fade" id="exampleModal{{object.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delet Category?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want to delete?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <form action="{% url 'product_delete' object.id %}" method="post"
                                        id="del-confirm-button">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <button type="submit" class="btn btn-dark text-white">Delete</button> -->
                </td>
                <td><a href="{% url 'product_update'  object.id%} " class="btn btn-success">update</a></td>
            </form>
        </tr>
        {% endfor %}
    </tbody>

</table>


{% if page_obj.has_previous %}
<a class="btn btn-primary" href="?page=1">&laquo First</a>
<a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>

{% endif %}

<button class="btn btn-dark disabled">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</button>


{% if page_obj.has_next %}
<a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-primary" href="?page={{page_obj.paginator.num_pages}}">Last &raquo</a>

{% endif %}
{% endblock %}