{% extends 'adminside/adminbase.html' %}
{% load static %}

{% block title %}
Category
{% endblock %}

{% block categoryclass %}
text-white
{% endblock %}

{% block maincontent %}
<div class="col-12 col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4>Categories</h4>
        </div>
        <div class="card-body">
            <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group mb-3">
            <label>{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" name={{ field.name }} id="{{ field.name }}" class="form-control">
            {% if field.errors %}
            <div class="alert alert-dark" style="margin:10px">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-dark btn-block text-white">SAVE CATEGORY</button>
    </form> -->

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group mb-3">
                    <label>{{ field.label }}</label>
                    {% if field.field.widget.input_type != "select" %}
                    <input type="{{ field.field.widget.input_type }}" name={{ field.name }} id="{{ field.name }}"
                        class="form-control text-white">
                    {% endif %}

                    {% if field.field.widget.input_type == "select" %}
                    <select name={{ field.name }} id="{{ field.name }}" class="form-control text-white">
                        {% for id,value in field.field.choices %}
                        <option value="{{ id }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}

                    {% if field.errors %}
                    <div class="alert alert-danger" style="margin:10px">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block">SAVE SUB CATEGORY</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}